* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  /*center a child element*/
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
div {
  position: relative;
  display: block;
}

#quote-box {
  background-color: white;
  width: 500px;
  border-radius: 10px;
  box-shadow: 3px 6px black;
  border: 2px solid black;
  position: relative;
}

#quote-box .quote-text {
  text-align: center;
  font-size: 40px;
}

#quote-box .quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

#quote-box .buttons {
  display: block;
  width: 450px;
  margin-bottom: 50px;
}

#quote-box .buttons .button {
  outline: none;
  height: 38px;
  color: black;
  background-color: tan;
  border: none;
  margin: 7px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}

#quote-box .buttons .button#linkedin,
#quote-box .buttons .button#github {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 3px;
  height: 30px;
  width: 40px;
}

#quote-box .buttons .button#new-quote {
  float: right;
  width: 75px;
}
.footer {
  margin-top: 300px;
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: black;
  font-size: large;
}
